@charset "UTF-8";

h1{
margin-bottom: 3%;
}
.findIdinput{
margin: auto;
display: block;
}
.labelPlace{
margin-top:3%;
margin-bottom: 3%;
}
.form-control{
margin-bottom: 3%;	
}
.inputPlace{
height:35px;
width:250px;
margin-bottom: 3%;
border: 1px solid;
border-radius: 7px;
border-color: lightgray;
}
.inputPlace:hover{
border-color: lightgray;
background-color: #E3F6CE;
border-color:#E3F6CE;
}
.findBtn{
height: 35px;
	color: white;
	background-color:green; 
	border: 1px solid;
	border-radius: 7px;
	font-size: 15px;
}
.findBtn:hover{
	color: black;
	background-color:#E3F6CE; 
	border-color: #E3F6CE;
}
.common {
	font-family: 'DynaPuff', cursive;
	font-family: 'Silkscreen', cursive;
	font-family: 'Stick No Bills', sans-serif;
	font-size: 2rem;
	font-weight: bolder;
	color: green;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
}
p{
	font-weight: bold;
}
.findpasCommon{
	margin-left:5%;
}
